.mainContainer{
    margin-bottom: 5%;
}

.RecVideosContainer {
    width: 80%;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.video {
    max-width: 361px;
    max-height: 240px;
    position: relative;
    margin-bottom: 3%;
}

.videoImg {
    width: 100%;
    max-height: 240px;
    max-width: 361px;
    margin-bottom: 3.5%;
    text-align: center;
}

.playIcon {
    color: white;
    font-size: 65px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
   

}

@media (max-width:774px) {
    .playIcon {
        top: 33%;
        font-size: 45px;
    }

}
.showMoreButton{
  
    width: 180px;
    height: 40px;
margin: auto;
  
}